.speaker-card-small-text-1 {
  /* font-family: Gordita; */
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.speaker-card-small-text-2 {
  /* font-family: Gordita; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.speaker-card-small-text-3 {
  /* font-family: Gordita; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.speaker-card-small-text-4 {
  /* font-family: Gordita; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.speaker-card-large-text-1 {
  /* font-family: Gordita; */
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}
.speaker-card-large-text-2 {
  /* font-family: Gordita; */
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.speaker-card-large-text-3 {
  /* font-family: Gordita; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
.speaker-card-large-text-4 {
  /* font-family: Gordita; */
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.speaker-card-bg {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 480px;
  height: 260px;
  left: 0;
  top: 18px;
}
